* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Cairo", sans-serif;
}

:root {
  --secoundary-color: #644c74;
  --nav-item: #333333;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secoundary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secoundary-color);
}

/* ******************** start navbar style *********************************** */
.logo {
  width: 100px;
  height: auto;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}

.logo:hover {
  transform: scale(1.1) rotate(10deg);
}

.navbar {
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(245, 245, 245, 0.9);
  backdrop-filter: blur(5px);
}

.nav-item {
  padding: 0 5px;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
  font-size: 20px;
  font-weight: bold;
}

.nav-link {
  color: var(--nav-item);
}

.nav-link:hover {
  color: var(--nav-item);
}

.nav-item:hover {
  border-bottom: 3px solid var(--secoundary-color);
}

.nav-item.active {
  border-bottom: 3px solid var(--secoundary-color);
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item.active:hover {
  border-bottom: 3px solid var(--secoundary-color);
}

.nav-link:focus {
  color: var(--secoundary-color);
}

.lang-dropdown .btn {
  border: 1px solid var(--secoundary-color);
  outline: 1px solid var(--secoundary-color);
  font-weight: 600;
}

.lang-dropdown .dropdown-item {
  text-align: center;
}

.btn-light {
  color: #ffffff;
  background-color: #644c74 !important;
  border-color: #f8f9fa;
}

.navbar-toggler-icon {
  color: var(--secoundary-color);
  font-size: 30px;
  padding: 10px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.cta-btn {
  background: linear-gradient(45deg, #c7a0d7, #644c74);
  padding: 10px 30px;
  border-radius: 25px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid transparent;
  font-size: 18px;
}

.cta-btn:hover {
  transform: scale(1.05);
  color: black;
}

.cta-btn i {
  margin-left: 8px;
  font-size: 1.1rem;
  color: white;
}

/* ******************** start hero_section style *********************************** */

.hero_contant {
  background-image: url(../images/hero_img.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 2;
  padding-top: 150px;
}

.hero_contant::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.35));
  pointer-events: none;
  z-index: -1;
}

.hero-text-box {
  background: rgba(245, 244, 244, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  padding: 40px 50px;
  border-radius: 15px;
  max-width: 750px;
  z-index: 1;
}

.hero-badge {
  display: inline-block;
  background: linear-gradient(45deg, #c7a0d7, #644c74);
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.5;
  color: white;
  margin-bottom: 30px;
  max-width: 600px;
}

.hero-subtitle {
  font-size: 20px;
  color: rgb(245 208 254);
  margin-bottom: 25px;
  max-width: 650px;
}

.hero-cta {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(45deg, #c7a0d7, #644c74);
  padding: 10px 22px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid transparent;
}

.hero-cta:hover {
  background: white;
  color: var(--secoundary-color);
  transform: translateY(-2px) scale(1.05);
  border: 1px solid var(--secoundary-color);
}

.hero-secondary-btn {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
  text-decoration: none;
  background: white;
  padding: 10px 22px;
  border-radius: 10px;
  color: var(--secoundary-color);
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid transparent;
}

.hero-secondary-btn:hover {
  background: linear-gradient(45deg, #c7a0d7, #644c74);
  color: white;
  transform: translateY(-2px) scale(1.05);
  border: 1px solid white;
}

.hero-cta i,
.hero-secondary-btn i {
  margin-left: 8px;
}

/* ******************** start services_section style *********************************** */
.services-section {
  padding: 100px 0;
  background: #f6f1ff;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-title p {
  color: #666;
  margin-bottom: 50px;
  font-size: 18px;
}

.service-card {
  background: #fff;
  padding: 35px;
  border-radius: 16px;
  text-align: center;
  transition: 0.4s;
  border: 1px solid #eee;
  position: relative;
}

.service-icon {
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3e8ff;
  border-radius: 50%;
  font-size: 32px;
  color: #644c74;
  margin-bottom: 20px;
  transition: 0.4s;
}

.service-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
}

.service-card p {
  color: #666;
  line-height: 1.7;
  font-size: 18px;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
}

.service-card:hover .service-icon {
  background: #644c74;
  color: #fff;
  transform: scale(1.1);
}

.book-btn {
  display: inline-block;
  padding: 14px 35px;
  border-radius: 40px;
  background: linear-gradient(45deg, #c7a0d7, #644c74);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.book-btn i {
  margin-left: 8px;
}

.book-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(147, 51, 234, 0.4);
  color: #fff;
}

/* ******************** start why-us_section style *********************************** */

.why-us-section {
  padding: 100px 0;
  background: #fff;
}

.section-badge {
  background: #f3e8ff;
  color: #644c74;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}

.why-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 15px;
}

.why-description {
  color: #666;
  line-height: 1.8;
  margin-bottom: 30px;
}

.why-list {
  list-style: none;
  padding: 0;
}

.why-list li {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.why-list i {
  font-size: 20px;
  color: #644c74;
  margin-top: 5px;
}

.why-list h4 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
}

.why-list p {
  color: #666;
  margin: 0;
  font-size: 16px;
}

.why-image {
  position: relative;
}

.why-image img {
  width: 100%;
  border-radius: 15px;
  position: relative;
  z-index: 2;
}

.why-image::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: -20px;
  width: 120px;
  height: 120px;
  background-image: radial-gradient(#644c74 2px, transparent 2px);
  background-size: 15px 15px;
  z-index: 1;
}

.why-image::after {
  content: "";
  position: absolute;
  top: -30px;
  right: -20px;
  width: 120px;
  height: 120px;
  background-image: radial-gradient(#644c74 2px, transparent 2px);
  background-size: 15px 15px;
  z-index: 1;
}

/* ******************** start faq_section style *********************************** */
.faq-section {
  padding: 60px 0;
  background-color: #f6f1ff;
}

.faq-section .section-title h2 {
  font-size: 32px;
  color: #644c74;
  margin-bottom: 10px;
  font-weight: bold;
}

.faq-section .section-title p {
  color: #555;
  margin-bottom: 40px;
  font-size: 18px;
}

.faq-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease;
}

.faq-item:hover {
  box-shadow: 0 8px 20px rgba(95, 75, 139, 0.2);
}

.faq-question {
  width: 100%;
  padding: 18px 20px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: #faf6fc;
  color: #644c74;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-icon {
  font-weight: bold;
  transition: transform 0.3s ease;
  font-size: 20px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  transition:
    max-height 0.4s ease,
    padding 0.4s ease;
}

.faq-item.active .faq-answer {
  padding: 15px 20px;
  max-height: 300px;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}

/* ******************** start contact_section style *********************************** */
.contact-bg {
  background: linear-gradient(45deg, #c7a0d7, #644c74);
  position: relative;
  z-index: 1;
  padding: 30px 0;
}

.contact-title {
  font-size: 38px;
  font-weight: bold;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.contact-subtitle {
  font-size: 18px;
}

.contact-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 20px;
}

.whatsapp-btn {
  background-color: #25d366;
  color: white;
}

.whatsapp-btn:hover {
  background-color: #1da851;
  transform: scale(1.05);
  color: white;
}

.phone-btn {
  background-color: #644c74;
  color: white;
}

.phone-btn:hover {
  background-color: #644c74;
  transform: scale(1.05);
  color: white;
}

.map-box iframe {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* ******************** start footer_section style *********************************** */
.footer-section {
  background-color: #f6f1ff;
  color: #644c74;
  padding: 40px 0 20px 0;
}

.footer-logo {
  width: 120px;
  margin-bottom: 15px;
}

.footer-about p {
  font-size: 18px;
  line-height: 1.7;
  font-weight: bold;
}

.footer-socials a {
  color: black;
  margin-right: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.footer-socials a:hover {
  color: #8e44ad;
}

.footer-links,
.footer-contact {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

.footer-links li,
.footer-contact li {
  margin-bottom: 15px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #644c74;
}

.footer-bottom {
  border-top: 1px solid black;
  padding-top: 15px;
  font-size: 16px;
}

/* ******************** start whatsapp_section style *********************************** */

.whatsapp-wrapper {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  direction: rtl;
}

.whatsapp-wrapper-en {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  direction: ltr;
}

.whatsapp-icon {
  background-color: #25d366;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.whatsapp-icon:hover {
  background-color: #1da851;
  color: white;
}

.whatsapp-text-box {
  background-color: #1da851;
  color: white;
  padding: 10px 16px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.whatsapp-text-box:hover {
  background-color: #058c37;
  color: white;
}

/* ******************** start mediaQuery for responsive style *********************************** */

@media (max-width: 767px) {
  .contact {
    margin: 15px auto;
    text-align: center;
    display: block;
    width: 60%;
  }

  .navbar>.container-fluid {
    padding: 10px 10px;
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .hero-text-box {
    padding: 40px 20px;
  }

  .hero-title {
    font-size: 25px;
    max-width: 800px;
  }

  .hero-subtitle {
    font-size: 16px;
  }

  .hero_tag_container {
    flex-direction: column;
  }

  .hero_tag_container a {
    width: 100%;
    text-align: center;
  }

  .section-title h2 {
    font-size: 25px;
  }

  .why-us-section {
    padding: 60px 0;
  }

  .why-title {
    font-size: 25px;
  }

  .contact-bg {
    padding: 10px 0;
  }

  .contact-title {
    font-size: 25px;
    line-height: 2.5rem;
  }

  .contact-btn {
    justify-content: center;
  }

  .mobile_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .footer-about p {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {}
html, body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .navbar {
    padding: 5px 15px;
  }
}